venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
*.log
*.pot
*.mo
*.swp
*.swo
*.egg-info/
*.egg
*.bak
.env
.env.dev
.env.prod
.vscode/
*.code-workspace
.shotgun/
*.ipynb
.ipynb_checkpoints/
celerybeat-schedule
node_modules/
Thumbs.db
*.tmp
*.backup*
*.orig
*.rej

# pliki .xml
MPD_test/*

# statyczne pliki Django
staticfiles/
static/
.env.dev1
backups/*
..env.prod
