venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
*.log
*.pot
*.mo
*.swp
*.swo
*.egg-info/
*.egg
*.bak
.env
.env.dev
.env.prod
.vscode/
celerybeat-schedule

# pliki .xml
MPD_test/*

# statyczne pliki Django
staticfiles/
static/
.env.dev1
backups/*
