{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    .field-get_other_colors_ids,
    .field-get_variant_names,
    .field-get_product_in_set_ids {
        white-space: normal !important;
        word-wrap: break-word !important;
        max-width: 200px;
    }
    
    #result_list td {
        white-space: normal !important;
        word-wrap: break-word !important;
    }
    
    #result_list th {
        white-space: normal !important;
        word-wrap: break-word !important;
    }
</style>
{% endblock %} 